
<ul nz-menu nzMode="inline" nzSelectable="true" [nzInlineCollapsed]="collapsed">

  <li nz-submenu (click)="canvas.selectPointer()">
    <span title>
      <i class="anticon"><fa-icon [icon]="['far','mouse-pointer']"></fa-icon></i>
      <span>{{ 'TOOLBOX.SELECT.TITLE' | translate }}</span>
    </span>
    <ul>
      <li nz-menu-item (click)="canvas.selectAddSelection()">{{ 'TOOLBOX.SELECT.ADD' | translate }}</li>
      <li nz-menu-item (click)="canvas.selectRemoveSelection()">{{ 'TOOLBOX.SELECT.REMOVE' | translate }}</li>
    </ul>
  </li>

  <li nz-menu-item (click)="canvas.selectPicker()">
    <span title>
      <i class="anticon">
        <fa-icon [icon]="['far','eye-dropper']"></fa-icon>
      </i>
      <span>{{ 'TOOLBOX.EYEDROPPER' | translate }}</span>
    </span>
  </li>

  <li nz-menu-divider></li>

  <li nz-menu-item (click)="canvas.selectSquare()">
    <span title>
      <i class="anticon"><fa-icon [icon]="['far','square']"></fa-icon></i>
      <span>{{ 'TOOLBOX.SQUARE' | translate }}</span>
    </span>
  </li>

  <li nz-menu-item (click)="canvas.selectCircle()">
    <span title>
      <i class="anticon"><fa-icon [icon]="['far','circle']"></fa-icon></i>
      <span>{{ 'TOOLBOX.CIRCLE' | translate }}</span>
    </span>
  </li>

  <li nz-menu-item (click)="canvas.selectLine()">
    <span title>
      <i class="anticon">
        <!-- TODO: Improve icon for line tool -->
        <fa-icon [icon]="['far','ruler']"></fa-icon>
      </i>
      <span>{{ 'TOOLBOX.LINE' | translate }}</span>
    </span>
  </li>

  <li nz-menu-item (click)="canvas.selectArrow()">
    <span title>
      <i class="anticon">
        <fa-icon [icon]="['far','long-arrow-alt-left']"></fa-icon>
      </i>
      <span>{{ 'TOOLBOX.ARROW' | translate }}</span>
    </span>
  </li>

  <li nz-menu-item (click)="canvas.selectPath()">
    <span title>
      <i class="anticon">
        <fa-icon [icon]="['far','pen-nib']"></fa-icon>
      </i>
      <span>{{ 'TOOLBOX.PATH' | translate }}</span>
    </span>
  </li>

  <li nz-menu-item (click)="canvas.selectText()">
    <span title>
      <i class="anticon"><fa-icon [icon]="['far','font']"></fa-icon></i>
      <span>{{ 'TOOLBOX.TEXT' | translate }}</span>
    </span>
  </li>

  <li nz-menu-divider></li>

  <li nz-menu-item (click)="canvas.selectArtboard()">
    <span title>
      <i class="anticon">
        <fa-icon [icon]="['far','chalkboard']"></fa-icon>
      </i>
      <span>{{ 'TOOLBOX.ARTBOARD' | translate }}</span>
    </span>
  </li>

  <!-- Symbolpicker -->

  <ng-template #contentTemplate>
    <app-symbolpicker (pick)="canvas.addSymbol($event)"></app-symbolpicker>
  </ng-template>

  <li nz-menu-item nz-popover [nzContent]="contentTemplate" nzPlacement="right" nzTrigger="click">
    <span title>
      <i class="anticon">
        <fa-icon [icon]="['far','gift']"></fa-icon>
      </i>
      <span>{{ 'TOOLBOX.SYMBOLSPICKER.TITLE' | translate }}</span>
    </span>
  </li>

  <!-- Color picker -->
  <li class="colors">
    <app-colorpicker [(colorValue)]="canvas.strokeColor" [(colorPresets)]="presets"
      [style.zIndex]="lastColorPicked=='back'?'2':'1'" (click)="lastColorPicked='back'"
      nz-tooltip [nzTitle]="'TOOLBOX.COLORPICKER.STROKECOLOR' | translate" nzMouseEnterDelay="0" nzMouseLeaveDelay="0" nzPlacement="rightBottom">
    </app-colorpicker>
    <app-colorpicker [(colorValue)]="canvas.fillColor" [(colorPresets)]="presets"
      [style.zIndex]="lastColorPicked=='fore'?'2':'1'" (click)="lastColorPicked='fore'"
      nz-tooltip [nzTitle]="'TOOLBOX.COLORPICKER.FILLCOLOR' | translate" nzMouseEnterDelay="0" nzMouseLeaveDelay="0" nzPlacement="rightTop">
    </app-colorpicker>
  </li>

  <!-- Collapse menu -->
  <li nz-menu-item (click)="collapsed=!collapsed">
    <span title>
      <i class="anticon"><fa-icon [icon]="['far','arrow-alt-from-'+(collapsed?'left':'right')]"></fa-icon></i>
      <span>{{ 'GENERAL.COLLAPSE' | translate }}</span>
    </span>
  </li>

</ul>