
<ul nz-menu [nzMode]="'horizontal'">

  <!-- File  -->
  <li nz-submenu>
    <span title>{{ 'MENUBAR.FILE.TITLE' | translate }}</span>
    <ul>

      <li nz-submenu>
        <span title>{{ 'MENUBAR.FILE.NEW.TITLE' | translate }}</span>
        <ul>
          <li nz-menu-item>{{ 'MENUBAR.FILE.NEW.PROJECT' | translate }}</li>
          <li nz-menu-item>{{ 'MENUBAR.FILE.NEW.ARTBOARD' | translate }}</li>
        </ul>
      </li>

      <li nz-menu-item>
        <span title>{{ 'MENUBAR.FILE.OPENPROJECT' | translate }}</span>
      </li>

      <li nz-menu-item (click)="exitApp()">
        <span title>{{ 'MENUBAR.FILE.EXIT' | translate }}</span>
      </li>

    </ul>
  </li>


  <!-- Edit -->
  <li nz-submenu>
    <span title>{{ 'MENUBAR.EDIT.TITLE' | translate }}</span>
    <ul>

      <li nz-menu-item>
        <span title>{{ 'MENUBAR.EDIT.COPY' | translate }}</span>
      </li>

      <li nz-menu-item>
        <span title>{{ 'MENUBAR.EDIT.PASTE' | translate }}</span>
      </li>

    </ul>
  </li>


  <!-- View -->
  <li nz-submenu>
      <span title>{{ 'MENUBAR.VIEW.TITLE' | translate }}</span>
      <ul>

        <li nz-menu-group>
          <label title nz-checkbox>{{ 'MENUBAR.VIEW.DARKMODE' | translate }}</label>
        </li>

      </ul>
    </li>


    
  <!-- Tools -->
  <li nz-submenu>
    <span title>{{ 'MENUBAR.TOOLS.TITLE' | translate }}</span>
    <ul>

      <li nz-menu-item (click)="openPageInPopup('git')">
        <span title>{{ 'MENUBAR.TOOLS.GIT' | translate }}</span>
      </li>

      <li nz-menu-item (click)="openPageInPopup('settings')">
        <span title>{{ 'MENUBAR.TOOLS.SETTINGS' | translate }}</span>
      </li>

    </ul>
  </li>


  <!-- Help -->
  <li nz-submenu>
    <span title>{{ 'MENUBAR.HELP.TITLE' | translate }}</span>
    <ul>

      <li nz-menu-item (click)="openHelpSite()">
        <span title>{{ 'MENUBAR.HELP.HELPSITE' | translate }}</span>
      </li>

      <li nz-menu-item>
        <span title>{{ 'MENUBAR.HELP.CHECKUPDATES' | translate }}</span>
      </li>

      <li nz-menu-item (click)="openPageInPopup('about')">
        <span title>{{ 'MENUBAR.HELP.ABOUT' | translate }}</span>
      </li>

    </ul>
  </li>


</ul>
