
button {
    width: 32px;
    height: 32px;
}

::ng-deep .color-picker {
    // TODO: convert stylesheets to less & integrate with ant theme
    box-shadow: 0 0 10px #888;
    text-align: left;
}

::ng-deep .color-picker .add-swatch {
    position: relative;
    background: none !important;
    top: -24px;
    left: 4px;
    border: none;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 3px black;
    cursor: pointer;
}

::ng-deep .color-picker .left {
    margin-bottom: -18px;
}

::ng-deep .color-picker .box input {
    border-radius: 15px;
}

::ng-deep .color-picker .preset-area hr {
    display: none;
}

::ng-deep .color-picker .preset-area .preset-label {
    margin: 5px 0 10px 0;
}

::ng-deep .color-picker .preset-area .preset-color {
    margin: 5px;
}

::ng-deep .color-picker .cp-remove-color-button-class::before {
    color: #888;
    bottom: -4px !important;
}
