
<nz-layout class="root">

  <nz-sider [nzCollapsed]="toolboxCollapsed">
    <app-toolbox [(collapsed)]="toolboxCollapsed"></app-toolbox>
  </nz-sider>

  <nz-layout>
    
    <nz-header>
      <app-menubar></app-menubar>
    </nz-header>

    <!-- main part is split into main and another sider -->
    <nz-layout class="content">

      <nz-content>
          <app-canvas></app-canvas>
      </nz-content>

      <nz-sider [nzWidth]="300" class="panel" [hidden]="panelCollapsed">

        <div nz-menu nzMode="horizontal">
          
          <nz-collapse [nzBordered]="false">

            <nz-collapse-panel [nzHeader]="'PANELS.APPEARANCE.TITLE' | translate" nzActive="true">
              <app-appearance-panel></app-appearance-panel>
            </nz-collapse-panel>

            <nz-collapse-panel [nzHeader]="'PANELS.LAYERS.TITLE' | translate">
                <app-layers-panel></app-layers-panel>
            </nz-collapse-panel>

            <nz-collapse-panel [nzHeader]="'PANELS.LINK.TITLE' | translate" nzDisabled="true">
                <app-link-panel></app-link-panel>
            </nz-collapse-panel>

            <nz-collapse-panel [nzHeader]="'PANELS.TEXT.TITLE' | translate" [nzActive]="!textPanelCollapsed" [nzDisabled]="textPanelDisabled">
                <app-text-panel></app-text-panel>
            </nz-collapse-panel>
          </nz-collapse>

        </div>

        <button nz-button nzShape="circle" class="close-panel-button" (click)="togglePanel()">
          <i class="anticon"><fa-icon [icon]="['far','times']"></fa-icon></i>
        </button>

      </nz-sider>

    </nz-layout>

    <nz-footer>
        <app-status></app-status>
    </nz-footer>

  </nz-layout>
</nz-layout>