
.root {
    overflow: hidden;
}

.ant-layout-sider {
    background: none;
}

.ant-layout-header {
    height: 40px;
    padding: 0;
    background: none;
}

.ant-layout-footer {
    height: 40px;
    padding: 0;
    background: none;
}

.content {
    height: calc( 100vh - 40px - 40px ); // -menu -statusbar
    background: none;
}

.content > .ant-layout-content {
    overflow-y: auto;
    overflow-x: auto;
}

.panel {
    position: relative;
    overflow-y: auto;
}

.ant-collapse {
    margin: 10px 0;
}

.close-panel-button {
    position: absolute;
    top: 8px;
    right: 10px;
}

.panel .ant-menu {
    min-height: 100%;
    padding: 0 10px;
    border-left: 1px solid #e8e8e8;
    border-bottom: none;
}
