
.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 40px - 40px ); // -menu -statusbar
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #eee;
}

#example {
    background: white;
    box-shadow: 0 0 10px #888;
    margin: 25px;
}
